.content {
    padding: 0 16px;
    max-width: 750px;
    margin: 0 auto;
    background-color: #202020;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

// Header

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    &__help-blog{
        display: flex;
        align-items: center;

        &__question{
            margin-left: 8px;
            height: 24px;
            width: 24px;
            cursor: pointer;
        }
    }
}

// Information block

.event-information-wrapper {
    margin-top: 17px;

    &__banner-wrap {
        position: relative;
        height: 175px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 12px;
    }

    &__blur {
        display: flex;
        justify-content: center;
        background: rgb(161 161 161 / 7%);
        backdrop-filter: blur(8px);
        border-radius: 12px;
    }

}

.event-information{
    margin-top: 20px;

    &__city{
        display: flex;
        align-items: center;

        p{
            font-weight: 400;
            font-size: 12px;
            line-height: 23px;
            letter-spacing: 1px;
            opacity: 0.9;
            margin-left: 12px;
        }
    }
    
    &__title{
        margin: 0;
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
    }

    &__btns-wrap{
        display: flex;
        
        &__day, 
        &__time{
            display: flex;
            align-items: center;
            padding: 8.5px 12px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(32px);
            border-radius: 20px;

            p{
                display: inline;
                margin: 0;
                margin-left: 8px;
            }
        }
    }
}




